@import "tailwindcss";



body {
  font-family: "Link Sans", Arial, sans-serif;
  background-color: #05080d;
}


@keyframes slowFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slowFloat {
  animation: slowFloat 14s ease-in-out infinite;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}
